.logo {
    width: 40px;
    height: 40px;
}
.link{
    color: red;
    text-decoration: none;
    font-weight: 700;

}
.active-link{
    color: red;
    text-decoration: underline;
    font-weight: 700;

}
.header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
